section div{
    background-image: url("images/f2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 610px;
}
section h1{
    margin-top: 2px;
    color:white;
    font-size: xx-large;
    text-align: center;
    padding-top: 150px;
}
section h2,pre{
    color:white;
    font-size: xx-large;
    text-align: center;
}