section{
    margin-top: 2px;   
}
form{
    text-align: center;
    border: 3px solid white;
    width: 780px;
    padding: 50px;
}
.main{
    background-image: url("images/p6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    text-align: center;
    padding-left: 300px;
    padding-top: 80px;

}
.form1 {
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 300px;
    color: white;
    padding-left: 1000px;
    padding-top: 50px;
    padding-bottom: 30px;
}
label{
    color: white;
    font-size: xx-large;
}
.submit{
    font-size: xx-large;
    align-items: center;
    border-color: black;
    color: blue;
    background-color: white;

}
input,textarea{
    font-size: x-large;
}
#abc,#def,#ghi,#jkl,#mno,#pqr,#stu,#vwx{
    color:white;
    font-size: x-large;
}