.main{
    opacity:0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
form{
    text-align: center;
    width: 780px;
    padding: 50px;
}
#img1 {
    float: left;
  }
.form1 {
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 300px;
    color: black;
    padding-left: 1000px;
    padding-top: 40px;
    padding-bottom: 30px;
}
.submit{
    font-size: x-large;
    align-items: center;
    border-color: black;
    color: black;
    background-color: white;
    width:150px;
}
table,h2{
    padding-left: 80px;
    font-size:20px;
    font-family:'Lugrasimo';
    padding-top: 0px;
    margin-top: 0%;
}
input,textarea{
    font-size: 20px;
    border: 1px solid white ;
    font-family:'Lugrasimo';
    padding: 5px;
    width:500px;
}
#abc,#def,#ghi,#jkl,#mno,#pqr{
    color:white;
    font-size: 15px;
    box-sizing: content-box;
}
table pre{
    font-family:'Lugrasimo';
    font-size: 20px;
    opacity:0;
    animation: slideRight 1s ease forwards;
    animation-delay:3s;
}
#img2{
    float: right;
    padding-left: 100px;
}
th{
    font-size: xx-large;
}
@keyframes slideLeft{
    0%{
        opacity:0;
        transform:translateX(100px);
    }
    100%{
        opacity:1;
        transform:translateX(0);
    }
}
@keyframes slideRight{
    0%{
        opacity:0;
        transform:translateX(-100px);
    }
    100%{
        opacity:1;
        transform:translateX(0);
    }
}